.button {
    min-width: 3rem;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0.25rem;
    font-weight: 500;
}