.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff9f9;
  box-shadow: 3px 8px 8px #2c2828;
}

.output {
  text-align: left;
  align-self: flex-start;
  font-size: 1.1rem;
  align-self: flex-start;
  padding: 0 2.5rem;
  font-weight: 500;
}
